body {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: lightgray;
}

@media only screen and (max-width: 700px) {
    /*A lot of the navbar styling is taken from the w3schools navbar tutorial: https://www.w3schools.com/Css/css_navbar.asp
    This particular section styles a vertical navbar for mobile*/
    .nav ul {
        width: 100%;
    }
    .nav li a {
        display: block;
        color: white;
        padding: 10px 16px;
        text-decoration: none;
        text-align: center;
        font-size: 15px;
    }

    .nav li a:hover {
        background-color: rgb(54, 54, 199);
    }
    .nav {
        margin: 10px 0;

    }

    .front-page {
        width: 100%;
    }

    .band-img {
        display: block;
        margin: 5px;
        max-width: 100%;
    }

    .blurb {
        display: block;
        margin: 5px 0px 5px 0px;
    }
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(27, 27, 82);
}

.nav ul li {
    float: left;
}

.nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav ul li a:hover {
    background-color: blue;
}

.heading {
    background:
    /*Trying to darken the background image. Idea from https://stackoverflow.com/questions/23208200/how-to-darken-a-background-using-css*/
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
          rgba(0, 0, 0, 0.7), 
          rgba(0, 0, 0, 0.7)
        ),
        /* bottom, image */
        url(https://allie-tatarian.github.io/project1/img/party.jpg);
    background-color: darkblue;
    height: 150px;
    padding: 50px;    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;            
}

.title, .subtitle {
    text-align: center;
    color: white;
}

.title {
    font-size: 50px;
    margin-top: -15px;
}

.subtitle {
    font-size: 20px;
    font-style: italic;
}

main {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.front-page {
    display: inline-block;
    padding: 20px;
}

.band-img {
    float: left;
    margin: 10px;
}

.blurb {
    font-size: 30px;
    margin-left: 15px;
}

.testimonials {
    color: white;
    background-color: darkblue;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
}

.testimonials h2 {
    text-align: center;
    font-size: 30px;
}

.quote {
    font-style: italic;
    padding: 15px;
    font-size: 15px;
}

.name {
    color: lightgray;
    padding-left: 20px;
    font-weight: bold;
}

footer {
    background-color: rgb(27, 27, 82);
    color: white;
    padding-left: 15px;
    padding-top: 1px;
    padding-bottom: 10px;
    margin-top: 10px;
    width: 100%;
}

footer p:first-child {
    font-weight: bold;
}

.social-icon {
    width: 20px;
    height: auto;
}

td {
    margin-right: 5px;
}

.line-dance {
    background-color: yellow;
}

.line-dance::before {
    content: "! ";
    color: red;
    font-weight: bold;
    font-size: 16px;
}